.nav-icons{
    color: #fff;
}
.wrapper-icons{
    margin-left: 28%;
}
.dashboard{
    margin-left: 40%;
}
.nav-icons-sub{
    font-size: 2rem;
    margin: 0.3em;
    margin-right: 1em;
}
.profile-pic-instructor-icon{
    margin-left: 0.5em;
    margin-top: 0.5em;
}